@media screen and (min-width: 100px) {
  .header {
    /* background-image: linear-gradient(to right,#1abc9c, white); */
    background-image: linear-gradient(to right, #f44336, white);
    color: white;
    text-transform: uppercase;
    border-radius: 25px 0px 0px 25px;
    animation: loadhead 1s ease-in-out;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    line-height: 75px;
  }
}
@media screen and (min-width: 500px) {
  .header {
    font-size: 50px;
  }
}
@media screen and (min-width: 700px) {
  .header {
    font-size: 70px;
  }
}
.marquee {
  animation: marquee 20s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes loadhead {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: none;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 100px) {
  .grid-content {
    display: block;
    padding: 2%;
    text-align: center;
    border-bottom: 5px solid orchid;
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    animation: zoom 1s ease-in-out;
  }
  .non-grid-content {
    display: block;
    padding: 2%;
    text-align: center;
    border-bottom: 5px solid orchid;
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    animation: zoom 1s ease-in-out;
  }
  .float-r {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .iframe {
    width: 100%;
  }
}
@media screen and (min-width: 400px) {
  .float-r {
    margin: auto;
    width: 390px;
  }
  .iframe {
    width: 400px;
  }
}
@media screen and (min-width: 1000px) {
  .grid-content {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: unset;
  }
  .non-grid-content {
    text-align: unset;
  }
}
