@media screen and (min-width: 100px) {
  .card-image {
    width: 100%;
    height: 300px;
  }
  .card {
    display: block;
    margin: auto;
    background-color: white;
    width: 100%;
    border-bottom: 5px solid violet;
    border-radius: 5px;
    padding-bottom: 1%;
    overflow: hidden;
    margin-top: 30px;
  }
  .grid {
    text-align: center;
    animation: land 1s ease-in-out;
    transform: translateY(-2%);
  }

  @keyframes land {
    0% {
      transform: translateY(1%);
    }
    100% {
      transform: translateY(-3%);
    }
  }
}

@media screen and (min-width: 400px) {
  .card-image {
    width: 400px;
    height: 250px;
  }
  .card {
    background-color: white;
    width: 400px;
    border-bottom: 5px solid #f44336;
    border-radius: 5px;
    padding-bottom: 1%;
    overflow: hidden;
    transform: none;
    margin-top: 0px;
  }
  .grid {
    text-align: center;
    animation: land 1s ease-in-out;
    /* animation-delay: 0.9s; */
    transform: translateY(-5%);
  }
}
@media screen and (min-width: 1100px) {
  .card-image {
    width: 250px;
    height: 200px;
  }
  .card {
    background-color: white;
    width: 250px;
    border-bottom: 5px solid #f44336;
    border-radius: 5px;
    padding-bottom: 1%;
    overflow: hidden;
    transform: none;
    margin-top: 0px;
  }
  .grid {
    text-align: center;
    animation: land 1s ease-in-out;
    /* animation-delay: 0.9s; */
    display: flex;
    justify-content: space-around;
    transform: translateY(-20%);
  }
  @keyframes land {
    0% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(-20%);
    }
  }
}

.card:hover {
  transform: translateY(-5%);
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.2);
}
